<header>
  <div class="upper-header">
    <div class="brand-action">
      <div class="action container">
        <ul>
        <li>ABOUT</li>
        <li>CONTACT</li>
        </ul>
        <ul>
        <li><i class="pg-icon pg-facebook"></i></li>
        <li><i class="pg-icon pg-google"></i></li>
        <li><i class="pg-icon pg-instagram"></i></li>
        </ul>
      </div>
    </div>
    <div class="brand-section">
      <div class="container">
        <img class="logo" src="../../assets/images/picolo-w.png" alt="brand-logo">
        <img class="top-ads" src="http://dahztheme.com/demo/onfleek/revival/wp-content/uploads/sites/8/2016/06/728.jpg">
      </div>
    </div>
  </div>
  <div class="header" :class="{'sticky-header': isScroll}">
    <div class="container">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <ul class="main-nav d-flex justify-content-between">
          <li class="nav-item">
            <a class="nav-link" href="/"><%=translation.nav.home%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><%=translation.nav.picofyou%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><%=translation.nav.articles%></a>
         </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><%=translation.nav.resources%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><%=translation.nav.findphoto%></a>
          </li>
        </ul>
        <ul class="col-3 d-flex socials justify-content-end">
        </ul>
      </div>
    </div>
  </div>
</header>